.card-cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border-bottom: 1px solid #00000040;
  border-top: 1px solid #00000040; */
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.151);
  height: 85px;
  overflow: hidden;
  margin: 10px 10px 0px 10px;
}

.card-img figure {
  width: 80px;
}

.product-name {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.cart-price {
  font-size: 16px;
}

.cart-button {
  color: black;
  cursor: pointer;
}

.MuiButtonBase-root {
  cursor: cell;
}
