.card {
  width: 290px;
  height: 430px;
  margin: 20px;
  padding: 15px;
}

body {
  text-align: center;
  background-color: #f2f4f3;
}

figure {
  width: 130px;
  height: 130px;
  padding: 0px;
  margin: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 6px;
}

.MuiPaper-root {
  padding: 0px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(202, 202, 202);
  border-right: 1px solid rgb(202, 202, 202);
  border-left: 1px solid rgb(202, 202, 202);
}

.MuiCardContent-root {
  flex: 1;
  padding: 0px;
}

.MuiCardActions-root {
  padding: 0px;
  display: flex;
  justify-content: center;
  background-color: #212738;
  transition: background-color 0.2s ease-in;
}

.MuiCardActions-root button {
  color: #edf2ef;
}

#info {
  text-align: justify;
  line-height: 19px;
  letter-spacing: 0.4px;
  font-size: 15px;
  font-weight: lighter;
}

.product h2 {
  font-size: 13px;
  padding: 2px;
  margin-bottom: 5px;
  font-weight: bold;
  background-color: #212738;
  color: rgb(238, 238, 238);
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

#info {
  height: 70px;
}

#price {
  color: #333333;
  font-size: 23px;
  /* text-align: right; */
  font-weight: bold;
  margin: 0px;
}

.MuiCardActions-root button {
  color: rgb(238, 238, 238);
  font-size: 14px;
}

.MuiCardActions-root:hover {
  background-color: #439b3b;
  color: #fff;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}

#button p {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 500;
}

#papper-p {
  font-size: 22px;
  text-transform: uppercase;
}

#total {
  margin: 25px;
  font-weight: bold;
}

.MuiList-root {
  border-top: 1px solid #0000002d;
}

.MuiListItem-root {
  border: 2px solid black;
  justify-content: flex-end !important;
}
